.row {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 1.5rem;

  & > div:first-of-type {
    margin-right: 1rem;
  }

  & > div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  color: var(--color-text-primary);
}

.desc {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  color: var(--color-text-secondary);
}

.resetbut {
  margin: 0 auto 10px;
  font-family: 'Baloo 2', sans-serif;
  background: #a01ef7;
  width: 60%;
  display: block;
  color: #fff;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.2rem 1rem;
}