.statsBar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .statItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 200px;

    .value {
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0;
      color: var(--color-text-primary);
    }

    .label {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--color-text-secondary);
    }
  }
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-text-primary);
}

.winDistribution {
  padding: 1rem;
}

.progress {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1rem;

  .index {
    width: 20px;
    margin-right: 0.5rem;
    color: var(--color-text-primary);
  }

  .row {
    width: 100%;
  }

  .line {
    border-radius: 5px;
  }

  .blue {
    background: #189ccc;
  }

  .gray {
    background: #5d6061;
  }
}

.bgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;

  .countDown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    .time {
      font-size: 1.4rem;
      color: var(--color-text-primary);
    }
  }

  .share {
    flex: 1;
    margin: auto 1rem auto 0; 
    margin-right: 1rem;
  }

  button {
    margin: 0.4rem 0.5rem;
    font-family: 'Baloo 2', sans-serif;
    background: #a01ef7;
    width: 100%;
    display: block;
    color: #fff;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.2rem 1rem;
  }
}

.result {
  display: flex;

  button {
    margin: 0.4rem 0.5rem;
    font-family: 'Baloo 2', sans-serif;
    background: #a01ef7;
    width: 100%;
    display: block;
    color: #fff;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.2rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.2rem;
  }

  .result {
    padding: 0;

    .countDown .time {
      font-size: 1rem;
    }

    .share {
      margin-left: 0;
    }

    button {
      font-size: 1.1rem;
      width: 90%;
    }
  }
}
