header {
  display: flex;
  justify-content: space-between;
}

.butcon, .butcon2  {
  display: flex;
  width: 30%;
  gap: 0px;
}

.butcon2 {
  justify-content: flex-end;
}

h1 {
  font-size: 2.3rem;
  text-align: center;
  color: var(--color-text-primary);
}

button {
  margin: 0.5rem;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.rlogo1 {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-background);
  border: 2px solid var(--color-icon);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-icon);
}

.rlogo2 {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-icon);
  border: 2px solid var(--color-icon);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-background);
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .butcon, .butcon2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

a {
  color: var(--color-text-primary); /* Change to your desired color */
  text-decoration: none;
}

/* Change the color of links on hover */
a:hover {
  color: #B6FF00; /* Change to your desired hover color */
}